body{
	margin: 0;
}
/*меню*/
.menu{
	text-align: center;
	position: fixed;
	background-color: white;
	width: 100%;
	opacity: 0.7;
}
.menu a{
	padding: 15px 40px;
	display: inline-block;
	color: black;
	text-decoration: none;
	width: 100px;
}
.menu a:hover{
	background-color: silver;
}
/*шапка*/
.header{
	background-color: black;
	background-image: url(img/polygons.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	text-align: center;
	color: white;
	padding: 200px 0;
	background-attachment: fixed;
}
.header p{
	margin: 30px 0;
}
.header a{
	padding: 10px 20px;
	text-decoration: none;
	background-color: white;
	color: black;
	border-radius: 5px;
}
.header a:hover{
	background-color: silver;
}
/*компания*/
.company{
	max-width: 1200px;
	margin: 0 auto;
	padding: 40px;
	text-align: center;
}
.company img{
	width: 400px;
	float: right;
	margin: 0 30px 30px 30px;
}
.company p{
	text-align: justify;
}
/*Команда*/
.team{
	text-align: center;
}
.member{
	display: inline-block;
	width: 20%;
	margin: 20px 10px;
	box-shadow: 0 2px 5px gray;
	padding: 20px;
	text-align: left;
}
.member img{
	width: 100%;
}
.member h3{
	font-weight: 400;
	font-size: 24px;
}
.member .position{
	opacity: 0.6;
}
.member a{
	display: inline-block;
	width: 100%;
	background-color: #055b73;
	text-decoration: none;
	color: white;
	border-radius: 10px;
	padding: 14px 0;
	text-align: center;
}
.member a:hover{
	background-color: white;
	color: #055b73;
}
/*Тарифы*/
.prices{
	text-align: center;
	padding: 30px 0;
	background-color: #616161;
}
.prices h2, .prices p{
	color: white;
}
.tarif{
	display: inline-block;
	width: 30%;
	min-width: 200px;
	margin: 10px;
	background-color: white;
	padding: 0;
	vertical-align: middle;
}
.tarif li{
	padding: 16px 0;
	list-style-type: none;
	border-bottom: 1px solid gray;
}
.tarif li:last-child{
	background-color: #f1f1f1;
	padding: 24px 0;
}
.tarif a{
	padding: 12px 24px;
	color: white;
	background-color: black;
	border-radius: 10px;
	text-decoration: none;
}
.tarif a:hover{
	background-color: white;
	color: black;
}
.tarif .tarif-name{
	padding: 32px 0;
	font-size: 24px;
	color: white;
	background-color: black;
}
.tarif .best{
	background-color: #055b73;
	padding: 48px 0;
}
.tarif span{
	font-weight: bold;
}
.prices .price{
	font-size: 24px;
	font-weight: bold;
	color: black;
}
.prices .period{
	color: black;
	opacity: 0.4;
}
/*контакты*/
.contacts{
	text-align: center;
	padding: 30px 0;
	background-color: f1f1f1;
}
.contact-adres{
	background-image: url(img/address.png);
}
.contact-phone{
	background-image: url(img/phone.png);
}
.contact-mail{
	background-image: url(img/mail.png);
}
.contact-info{
	background-repeat: no-repeat;
	text-align: left;
	padding-left: 30px;
	background-position: left center;
	background-size: 18px 18px;
	margin-left: 5%;
}
.contacts input{
	padding: 8px;
	width: 90%;
}
.contacts button{
	background-color: black;
	color: white;
	padding: 7px 14px;
	border-radius: 9px;
	outline: none;
	border: none;
}
.contacts button:hover{
	background-color: white;
	color: black;
}
/*footer*/
.footer{
	background-color: black;
	margin-bottom: 0;
}
.footer p{
	color: white;
	margin: 0;
}










/*Сдвиг по x — смещение по горизонтали (обязательно)
Сдвиг по y — смещение по вертикали (обязательно)
Размытие — чем больше число, тем тень более плавная и размытая, если не задавать, то 0 (необязательно)
Растяжение — число больше 0 растягивает тень, меньше сжимает (необязательно)
Цвет — если не задать, то черный (необязательно)
*/